.languages li ul a{
    text-align: center;
    padding: 0;
}

.languages{
    text-align: center;
}

.main-panel > .content {
    margin-top: 38px;
    padding: 30px 0;
    min-height: calc(100vh - 123px);
}

.active_page, .active_page i, .active_page p{
    color: #2196f3!important;
}

.sidebar .nav [data-toggle="collapse"] ~ div ul > li > a {
    padding-left: 40px;
}


/*Start floara styles*/
.refresh-floara{
    padding: 8px!important;
}

.floara .second-toolbar{
    display:none!important;
}

.floara .fr-wrapper{
    min-height: 300px;
}

.floara .fr-wrapper div:nth-child(1){
    display: none;
}

.floara .fr-placeholder{
    margin-top: 0!important;
}
/*End floara styles*/


/*Start template styles*/
.d-flex{
    display: flex!important;
}

.d-justify-between{
    justify-content: space-between!important;
}

.d-justify-center{
    justify-content: center!important;
}

.d-align-center{
    align-items: center!important;
}

.show_body table tr:first-child td {
    border-top: 1px solid #ddd!important;
}

.show_body, .index_body,.create_body,.edit_body{
    padding: 20px;
}

.list_type_none{
    list-style-type: none;
}

.image_part{
    width: 25%;
    height: 200px;
}

.image_part img{
    object-fit: cover;
    height: 100%;
}

.show_body img{
    width: 30%;
}

.btn-group.bootstrap-select.show-tick{
    display: block;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    color: white;
    text-align: center;
}

.d-justify-around{
    justify-content: space-around!important;
}

.btn-warning{
    color: white!important;
}
/*End template styles*/


/*Start multiple images styles*/
.custom_multiple_area .multiple_item{
    display: none;
}

.multiple_item{
    position: relative;
}

.delete_multiple_item_create,
.delete_multiple_item_edit{
    position: absolute;
    top: 0;
    right: 19px;
    z-index: 15;
    padding: 7px;
}

.multiple_item .form-group{
    display: flex;
    justify-content: center;
    margin: 0!important;
    padding: 0!important;
}

.multiple_item .fileinput{
    margin: 0!important;
}

.multiple_item .fileinput div:last-child > span,
.multiple_item .fileinput div:last-child > a{
    padding: 7px 12px!important;
    border-radius: 5px!important;
    margin: 0;
}

.multiple_item img{
    width: auto!important;
    height: 160px!important;
}

.multiple_items{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.multiple_items > div {
    border-radius: 15px;
    height: 213px!important;
    padding: 10px;
}

.add_multiple_item {
    border: 2px solid #008000;
    color: #008000;
    font-size: 40px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*End multiple images styles*/


/*Start information*/
.information_body{
    display: grid;
    width:100%;
    text-align: center;
    grid-template-columns: 33.3% 33.4% 33%;
}

.information_body > a{
    padding: 15px!important;
}

.information_body > a > button{
    width: 100%;
    font-size: 13px!important;
    background-color: #2d9eaf!important;
}
/*End information*/

/*Start custom css*/
.easy-start, .not_discount{
    display: flex;
    align-items: center;
}

.easy-start label,
.not_discount label{
    margin: 0;
    padding: 0!important;
}

.easy-start input,
.not_discount input{
    margin: 10px;
}

.easy-start-price,
.easy-start-step{
    display: none;
}

.custom-input-file{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.color-red{
    color: red!important;
}

.color-green{
    color: green!important;
}

.errors-table{
    border-collapse: collapse;
    width: 100%;
    border: none;
}

.errors-table td,
.errors-table th{
    padding: 8px!important;
}

.import-area-admin{
    margin-bottom: 25px
}
.import-area-admin .form-group{
    padding: 0!important;
    margin: 0 15px!important;
}
.import-area-admin .form-group label{
    display: none!important;
}

.w-100{
    width: 100% !important;
}

.users-types .btn-outline-success,
.order-types .btn-outline-success{
    background: transparent;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.users-types .btn-outline-warning,
.order-types .btn-outline-warning{
    background: transparent;
    color: #FFC107;
    border: 2px solid #FFC107;
}

.users-types .btn-outline-info,
.order-types .btn-outline-info{
    background: transparent;
    color: #03A9F4;
    border: 2px solid #03A9F4;
}

.users-types .btn-outline-danger,
.order-types .btn-outline-danger{
    background: transparent;
    color: #F44336;
    border: 2px solid #F44336;
}

.users-types .active_type .btn-outline-success,
.order-types .active_type .btn-outline-success{
    background: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

.users-types .active_type .btn-outline-warning,
.order-types .active_type .btn-outline-warning{
    background: #FFC107;
    color: white;
    border: 2px solid #FFC107;
}

.users-types .active_type .btn-outline-info,
.order-types .active_type .btn-outline-info{
    background: #03A9F4;
    color: white;
    border: 2px solid #03A9F4;
}

.users-types .active_type .btn-outline-danger,
.order-types .active_type .btn-outline-danger{
    background: #F44336;
    color: white;
    border: 2px solid #F44336;
}

.active_catalog_style{
    background: #66ce2457!important;
}
.font-weight-bold{
    font-weight: bold;
}

.order-top-title{
    font-style: italic;
    color: dodgerblue;
    font-size: 25px;
    text-align: center;
}

.order-header{
    margin: 0!important;
}

.order-header div{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border: 2px solid dodgerblue;
}

.mr-5-custom{
    margin-right: 5px!important;
}

.order-item{
    margin: 0;
}

.order-item > div{
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid dodgerblue;
    border-bottom: 2px solid dodgerblue;
    font-size: 20px;
}

.order-item .image-and-title img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.br-2-blue{
    border-right: 2px solid dodgerblue;
}

.br-none{
    border-right: none!important;
}

.color-blue{
    color: dodgerblue;
}

.height-70{
    height: 70px!important;
}

.order-products{
    margin-bottom: 80px;
}

.final-calculation {
    border: 2px solid dodgerblue;
    padding: 10px 20px;
    margin: 0;
    font-size: 20px;
}

.final-calculation div{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.final-calculation .blue-hr{
    height: 2px;
    background: dodgerblue;
}

.filter-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-form > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-form > div > div {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-form input{
    width: 130px!important;
}

.filter-form .small_select > div > button{
    padding: 5px 20px!important;
    font-size: 11px!important;
}

.return_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.return_checkbox span{
    padding: 10px!important;
}

.return_checkbox input{
    width: max-content!important;
    margin: 0!important;
}
/*End custom css*/
