/*#ninja-slider .fs-icon{*/
/*    display: none!important;*/
/*}*/

.basket-top-area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.basket-top-area .basket-count {
    position: absolute;
    font-size: 10px;
    left: 35%;
    top: -15%;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.basket-card{
    display: none;
}

.active-link > a, .active-page{
    background-color: #d356a1!important;
    color: #fff!important;
}

.form-textarea {
    border: none;
    border-bottom: 2px solid #d356a1;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: .350rem .5rem;
    outline: none !important;
    resize: none;
}

.page-link:focus, .outline-none:focus {
    box-shadow:none!important;
    outline: none!important;
}

.new-item-section .media-body a.product-title{
    transition: .2s;
}

.new-item-section .media-body a.product-title:hover {
    color: #d356a1 !important;
}

.new-item-section .pagination li a {
    color: #d356a1;
}

.list-group-item a:hover {
    color: #000;
}

.list-group-item .active {
    color: #000;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 350px;
    width: 100% !important;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 350px;
    width: 100%;
}

.preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    background: rgba(255,255,255,0.5);
}

.preloader img{
    width:80px
}

.outline-none{
    outline: none!important;
}

#message-modal .message-title, .color-pink{
    color: #d356a1;
}

.m-top-34{
    margin-top: 34px!important;
}

.profile-sidebar .list-group-item > a{
    padding: 10px;
    border-radius: 5px;
}

.profile-sidebar .list-group-item.active > a{
    background: #d356a1;
    color: white;
}

.bg-grey{
    background: #80808021!important;
    border:none!important;
}

.cursor-pointer{
    cursor:pointer!important;
}

.my-pagination .page-item .page-link,
.my-pagination .page-item .page-link:hover{
    color:#d356a1!important;
}

.my-pagination .page-item .active-page{
    color:#fff!important;
}

.products-table{
    margin-bottom: 50px;
}

.products-table thead{
    background: #8080802e;
}

.products-table thead tr td{
    text-align: center;
}

.products-table tbody tr{
    background: white;
}

.products-table tbody input{
    width: 100%;
    border:none;
    outline: none;
    border-bottom: 2px solid #d356a1;
    padding: 5px;
}

.w-12{
    width: 12%;
}

.w-64{
    width: 64%;
}

.products-table tbody .add-to-baskets{
    width: max-content;
}

.pr-articul, .pr-count{
    text-align: center;
}

.products-table .pr-preloader {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.products-table .pr-preloader img{
    width: 35px;
    height: 35px;
}

.delivery_point_area .basket-container,
.select_journal_area .basket-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delivery_point_area .checkcontainer,
.select_journal_area .checkcontainer{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.delivery_point_area .checkcontainer input,
.select_journal_area .checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.delivery_point_area .checkcontainer input:checked ~ .radiobtn,
.select_journal_area .checkcontainer input:checked ~ .radiobtn {
    background-color: #d356a1;
}

.delivery_point_area .radiobtn,
.select_journal_area .radiobtn{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.final_calculation .basket-container div {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.report-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.report-area > div{
    padding: 10px;
}
.select-area{
    text-align: left;
    width: 80%;
}
.catalogs-select{
    margin: 0;
}

.slider-area img{
    height: 500px!important;
    object-fit: cover!important;
    object-position: center!important;
}

.basket-container{
    border: 2px solid #d356a1;
    border-radius: 5px;
}

.bt-2-pink{
    border-top: 2px solid #d356a1;
}
.bb-2-pink{
    border-bottom: 2px solid #d356a1;
}
.br-2-pink{
    border-right: 2px solid #d356a1;
}

.bb-none{
    border-bottom: none!important;
}

.basket-title div,
.basket-footer div{
    padding: 5px;
}

.basket-content{
    margin: 0;
    border-top: none;
}

.order-container{
    border: 2px solid #d356a1;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 15px 0;
}

.order-title, .address-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.order-title{
    margin: 0!important;
}

.address-area{
    justify-content: space-between;
}

.order-title .label-text,
.address-area .label-text{
    margin: 0;
    color: #da56a1;
    font-weight: bold;
}

.order-title .value-text,
.address-area .value-text{
    font-weight: bold;
    margin: 0!important;
}

.returned-style {
    position: absolute;
    top: 46%;
    left: 0;
    background: #d356a1a1;
    width: 100%;
    height: 10%;
    z-index: 500;
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .order_bottom_area{
        flex-direction: column;
    }
}
