/* Responsive */
@media only screen and (max-width: 768px) {

    .header-section .navbar-logo {
        width: 140px !important;
    }

    .header-faq button {
        font-size: 13px !important;
    }

    .basket-menu .basket-card {
        left: -200px;
        font-size: 12px;
    }

    .basket-menu .basket-card a, h6, h5, h4, h3, h2, h1 {
        font-size: 11px;
    }

    #fb5 .fb5-menu#fb5-center {
        margin-top: -30px;
    }

    .product-item {
        font-size: 12px
    }


    .product-info .nav-tabs .nav-item .nav-link {
        padding-left: 0px;
        padding-right: 0px;
    }
    .order_bottom_area{
        flex-direction: column;
    }
}


@media only screen and (max-width: 1200px) {
    .header-section .navbar-logo {
        width: 150px;
    }

    .header-faq button {
        font-size: 15px;
    }

    .navbar .nav-item .nav-link {
        font-size: 12px;
    }

    .product-item .product-title {
        font-size: 18px !important;
    }
}
