.breadcrumb > li + li:before {
    padding: 0;
    content: none;
}

.breadcrumb_card{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 0!important;
}

ul.custom-breadcrumb {
    display: inline-block;
    list-style: none;
    margin: 0;
}

ul.custom-breadcrumb li {
    float: right;
    padding: 5px;
    background-color: #2196f3;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    margin-left: -50px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

ul.custom-breadcrumb li a {
    overflow: hidden;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    height: 50px;
    color: #2196f3;
    background-color: white;
    text-align: center;
    min-width: 50px;
    display: block;
    line-height: 50px;
    padding-left: 52px;
    padding-right: 33.33333px;
    width: max-content;
}

ul.custom-breadcrumb li a .icon {
    display: inline-block;
}

ul.custom-breadcrumb li a:hover,
ul.custom-breadcrumb .active a {
    background-color: #2196f3;
    color: white;
}

ul.custom-breadcrumb li:last-child a {
    padding-left: 30px;
}
