.font-size-10 {
	font-size:10px;
}
.font-size-11 {
	font-size:11px;
}
.font-size-12 {
	font-size:12px;
}
.font-size-13 {
	font-size:13px;
}
.font-size-14 {
	font-size:14px;
}
.font-size-15 {
	font-size:15px;
}
.font-size-16 {
	font-size:16px;
}
.font-size-17 {
	font-size:17px;
}
.font-size-18 {
	font-size:18px;
}
.font-size-19 {
	font-size:19px;
}
.font-size-20 {
	font-size:20px;
}
.font-size-21 {
	font-size:21px;
}
.font-size-22 {
	font-size:22px;
}
.font-size-23 {
	font-size:23px;
}
.font-size-24 {
	font-size:24px;
}
.font-size-25 {
	font-size:25px;
}
.font-size-26 {
	font-size:26px;
}
.font-size-27 {
	font-size:27px;
}
.font-size-28 {
	font-size:28px;
}
.font-size-29 {
	font-size:29px;
}
.font-size-30 {
	font-size:30px;
}
.font-size-31 {
	font-size:31px;
}
.font-size-32 {
	font-size:32px;
}
.font-size-33 {
	font-size:33px;
}
.font-size-34 {
	font-size:34px;
}
.font-size-35 {
	font-size:35px;
}
.font-size-36 {
	font-size:36px;
}
.font-size-37 {
	font-size:37px;
}
.font-size-38 {
	font-size:38px;
}
.font-size-39 {
	font-size:39px;
}
.font-size-40 {
	font-size:40px;
}
@media (min-width:576px) {
	.font-size-sm-10 {
		font-size:10px;
	}
	.font-size-sm-11 {
		font-size:11px;
	}
	.font-size-sm-12 {
		font-size:12px;
	}
	.font-size-sm-13 {
		font-size:13px;
	}
	.font-size-sm-14 {
		font-size:14px;
	}
	.font-size-sm-15 {
		font-size:15px;
	}
	.font-size-sm-16 {
		font-size:16px;
	}
	.font-size-sm-17 {
		font-size:17px;
	}
	.font-size-sm-18 {
		font-size:18px;
	}
	.font-size-sm-19 {
		font-size:19px;
	}
	.font-size-sm-20 {
		font-size:20px;
	}
	.font-size-sm-21 {
		font-size:21px;
	}
	.font-size-sm-22 {
		font-size:22px;
	}
	.font-size-sm-23 {
		font-size:23px;
	}
	.font-size-sm-24 {
		font-size:24px;
	}
	.font-size-sm-25 {
		font-size:25px;
	}
	.font-size-sm-26 {
		font-size:26px;
	}
	.font-size-sm-27 {
		font-size:27px;
	}
	.font-size-sm-28 {
		font-size:28px;
	}
	.font-size-sm-29 {
		font-size:29px;
	}
	.font-size-sm-30 {
		font-size:30px;
	}
	.font-size-sm-31 {
		font-size:31px;
	}
	.font-size-sm-32 {
		font-size:32px;
	}
	.font-size-sm-33 {
		font-size:33px;
	}
	.font-size-sm-34 {
		font-size:34px;
	}
	.font-size-sm-35 {
		font-size:35px;
	}
	.font-size-sm-36 {
		font-size:36px;
	}
	.font-size-sm-37 {
		font-size:37px;
	}
	.font-size-sm-38 {
		font-size:38px;
	}
	.font-size-sm-39 {
		font-size:39px;
	}
	.font-size-sm-40 {
		font-size:40px;
	}
	;
}
@media (min-width:768px) {
	.font-size-md-10 {
		font-size:10px;
	}
	.font-size-md-11 {
		font-size:11px;
	}
	.font-size-md-12 {
		font-size:12px;
	}
	.font-size-md-13 {
		font-size:13px;
	}
	.font-size-md-14 {
		font-size:14px;
	}
	.font-size-md-15 {
		font-size:15px;
	}
	.font-size-md-16 {
		font-size:16px;
	}
	.font-size-md-17 {
		font-size:17px;
	}
	.font-size-md-18 {
		font-size:18px;
	}
	.font-size-md-19 {
		font-size:19px;
	}
	.font-size-md-20 {
		font-size:20px;
	}
	.font-size-md-21 {
		font-size:21px;
	}
	.font-size-md-22 {
		font-size:22px;
	}
	.font-size-md-23 {
		font-size:23px;
	}
	.font-size-md-24 {
		font-size:24px;
	}
	.font-size-md-25 {
		font-size:25px;
	}
	.font-size-md-26 {
		font-size:26px;
	}
	.font-size-md-27 {
		font-size:27px;
	}
	.font-size-md-28 {
		font-size:28px;
	}
	.font-size-md-29 {
		font-size:29px;
	}
	.font-size-md-30 {
		font-size:30px;
	}
	.font-size-md-31 {
		font-size:31px;
	}
	.font-size-md-32 {
		font-size:32px;
	}
	.font-size-md-33 {
		font-size:33px;
	}
	.font-size-md-34 {
		font-size:34px;
	}
	.font-size-md-35 {
		font-size:35px;
	}
	.font-size-md-36 {
		font-size:36px;
	}
	.font-size-md-37 {
		font-size:37px;
	}
	.font-size-md-38 {
		font-size:38px;
	}
	.font-size-md-39 {
		font-size:39px;
	}
	.font-size-md-40 {
		font-size:40px;
	}
	;
}
@media (min-width:992px) {
	.font-size-lg-10 {
		font-size:10px;
	}
	.font-size-lg-11 {
		font-size:11px;
	}
	.font-size-lg-12 {
		font-size:12px;
	}
	.font-size-lg-13 {
		font-size:13px;
	}
	.font-size-lg-14 {
		font-size:14px;
	}
	.font-size-lg-15 {
		font-size:15px;
	}
	.font-size-lg-16 {
		font-size:16px;
	}
	.font-size-lg-17 {
		font-size:17px;
	}
	.font-size-lg-18 {
		font-size:18px;
	}
	.font-size-lg-19 {
		font-size:19px;
	}
	.font-size-lg-20 {
		font-size:20px;
	}
	.font-size-lg-21 {
		font-size:21px;
	}
	.font-size-lg-22 {
		font-size:22px;
	}
	.font-size-lg-23 {
		font-size:23px;
	}
	.font-size-lg-24 {
		font-size:24px;
	}
	.font-size-lg-25 {
		font-size:25px;
	}
	.font-size-lg-26 {
		font-size:26px;
	}
	.font-size-lg-27 {
		font-size:27px;
	}
	.font-size-lg-28 {
		font-size:28px;
	}
	.font-size-lg-29 {
		font-size:29px;
	}
	.font-size-lg-30 {
		font-size:30px;
	}
	.font-size-lg-31 {
		font-size:31px;
	}
	.font-size-lg-32 {
		font-size:32px;
	}
	.font-size-lg-33 {
		font-size:33px;
	}
	.font-size-lg-34 {
		font-size:34px;
	}
	.font-size-lg-35 {
		font-size:35px;
	}
	.font-size-lg-36 {
		font-size:36px;
	}
	.font-size-lg-37 {
		font-size:37px;
	}
	.font-size-lg-38 {
		font-size:38px;
	}
	.font-size-lg-39 {
		font-size:39px;
	}
	.font-size-lg-40 {
		font-size:40px;
	}
	;
}
@media (min-width:1200px) {
	.font-size-xl-10 {
		font-size:10px;
	}
	.font-size-xl-11 {
		font-size:11px;
	}
	.font-size-xl-12 {
		font-size:12px;
	}
	.font-size-xl-13 {
		font-size:13px;
	}
	.font-size-xl-14 {
		font-size:14px;
	}
	.font-size-xl-15 {
		font-size:15px;
	}
	.font-size-xl-16 {
		font-size:16px;
	}
	.font-size-xl-17 {
		font-size:17px;
	}
	.font-size-xl-18 {
		font-size:18px;
	}
	.font-size-xl-19 {
		font-size:19px;
	}
	.font-size-xl-20 {
		font-size:20px;
	}
	.font-size-xl-21 {
		font-size:21px;
	}
	.font-size-xl-22 {
		font-size:22px;
	}
	.font-size-xl-23 {
		font-size:23px;
	}
	.font-size-xl-24 {
		font-size:24px;
	}
	.font-size-xl-25 {
		font-size:25px;
	}
	.font-size-xl-26 {
		font-size:26px;
	}
	.font-size-xl-27 {
		font-size:27px;
	}
	.font-size-xl-28 {
		font-size:28px;
	}
	.font-size-xl-29 {
		font-size:29px;
	}
	.font-size-xl-30 {
		font-size:30px;
	}
	.font-size-xl-31 {
		font-size:31px;
	}
	.font-size-xl-32 {
		font-size:32px;
	}
	.font-size-xl-33 {
		font-size:33px;
	}
	.font-size-xl-34 {
		font-size:34px;
	}
	.font-size-xl-35 {
		font-size:35px;
	}
	.font-size-xl-36 {
		font-size:36px;
	}
	.font-size-xl-37 {
		font-size:37px;
	}
	.font-size-xl-38 {
		font-size:38px;
	}
	.font-size-xl-39 {
		font-size:39px;
	}
	.font-size-xl-40 {
		font-size:40px;
    }
    ;
}
