/*header & navbar section*/
.header-section {
  border-top: 1px solid #d356a1;
}


@media only screen and (min-width: 992px) {
  .navbar {
    border-top: 1px solid #d356a1;
    border-bottom: 1px solid #d356a1;
  }
}

.navbar .nav-item .navbar-links {
  font-size: 15px;
  color: #d356a1;
  padding: 5px 15px;
  margin: 10px 0px;
  transition: all .3s ease-in-out;
  font-weight: 600;
}
.navbar .nav-item .navbar-links:hover {
  background-color: #d356a1;
  color: #fff;
}

.navbar .dropdown .dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: #d356a1;
}

.navbar .dropdown .dropdown-menu .dropdown-item {
  font-weight: 500;
  color: #fff;
  padding: 15px;
}

.navbar .dropdown .dropdown-menu .dropdown-item:hover {
  color: #d356a1;
}

.header-faq button {
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #d356a1;
  color: #d356a1 !important;
  font-weight: 500;
}
.header-faq button:hover {
  background-color: #d356a1;
  color: #ffffff !important;
}


.header-nav a {
  color: #d356a1;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}


/* modal */
.modal form input {
  border: 0;
  border-bottom: 2px solid #d356a1;
  border-radius: 0;
}



/* main */

.carousel-control-prev-icon {
  background-image: url("../img/icons/left-chevron.svg");
}
.carousel-control-next-icon {
  background-image: url("../img/icons/right-chevron.svg");
}


/* footer */

.footer a {
  color: black;
  transition: color .2s ease-in-out;
  text-decoration: none;
}

.footer a:hover {
  color: #d356a1;
}

.vl-h-20 {
  border-left: 1px solid #212529;
  height: 20px;
}

a {
  text-decoration: none !important;
}

.line-height {
  line-height: 12px;
}

.text-pink {
  color: #d356a1;
}

.bg-pink {
  background-color: #d356a1;
}


@media only screen and (min-width: 968px) {

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
  }
  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #d356a1;
    background: #d356a1;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
  }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #return-to-top:hover i {
    top: 5px;
  }
}



/* form-registration */



form .form-registration input, select {
    border: none;
    display: block;
    width: 100%;
    border-bottom: 2px solid #d356a1;
    margin: 0;
    padding: 7px;
    outline: none !important;
}


form .form-registration label {
    margin: 30px 0;
    display: block;
    text-align: left;
    color: #d356a1;
}



.nav-pills .active {
  background-color: #d356a1 !important;
  color: #fff;
}

.nav-pills .nav-link {
  color: black;
  font-weight: 500 !important;
}

.tab-content .tab-pane h6 {
  color: #d356a1;
  text-align: left;
}
.tab-content .tab-pane p {
  color: #7b7b7b;
  text-align: left;
}

.about-media .media img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top  ;
}


table {
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd94;
}


.sidebar .list-group .list-group-item {
  border: none;
  text-align: left;
  background-color: transparent;
  font-weight: 500;
  color: #d356a1;
}


.slick-prev:before, .slick-next:before {
  color: #d356a1;
}

.multiple-items {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}


/* catalog */

.fb5-cont-page-book {
  cursor: pointer;
}

.num-counter button {
  color: #d356a1;
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
}

.num-counter input {
  border-radius: .8rem;
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  color: #000;
  border: 1px solid #ccc;
  line-height: 3.6rem;
  text-align: center;
  outline: none;
}

.second-modal .nav-item {
  width: 33.3%;
}

.second-modal .nav-item a:hover{
  color: #212529;
}

.slick-next {
  right: 0px;
  z-index: 11;
}

.slick-prev {
  left: 0px;
  z-index: 11;
}

.basket i {
  cursor: pointer;
}

.basket .basket-card {
  position: absolute;
  z-index: 22;
  left: -245px;
  right: 10px;
  top: 45px;
}

.basket-page table {
  border-collapse: collapse;
  width: 100%;
}

.basket-page td, th {
  border: none;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 15px;
  font-weight: 500;
}

.basket-page td {
  padding: 15px 0px;
}



.basket-page tr:nth-child(even) {
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .basket-page td, th {
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 5px;
    font-weight: 400 !important;
    font-size: 12px !important;
  }

  .basket-page td img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}


.slick-next:before {
  content: url(../img/icons/right-chevron.svg);
}
.slick-prev:before {
  content: url(../img/icons/left-chevron.svg);
}


